p{ text-align: ceter;

}
h1{
    color: rgb(255, 0, 132);
    text-align: center;
    font-size: 30px;
    }
body {background:rgb(228, 228, 233) ;

}

em strong{ color: 
    
    #d50a0a;}
